@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dracula;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.navbar {
    @layer daisyui.l1.l2.l3 {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0.5rem;
      height: 4rem;
    }
    :where(&) {
      @layer daisyui.l1.l2 {
        position: relative;
      }
    }
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
